<h2>単語一覧</h2>
<%= link_to '作成', new_word_card_path, class: 'btn btn-primary' %>
<%= link_to '勉強する', study_word_cards_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
  <tr>
    <td>word</td>
    <td>description</td>
    <td></td>
  </tr>
  </thead>

  <tbody>
  <% @word_cards.each do |word_card| %>
  <tr>
    <td><%= word_card.word %></td>
    <td style="white-space: pre-wrap;"><%= word_card.description %></td>
    <td>
      <div class="btn-group">
        <%= link_to '編集', edit_word_card_path(word_card), class: 'btn btn-sm btn-warning' %>
        <%= link_to '削除', word_card_path(word_card), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: '削除しますか？' } %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
